/* Larger Views ******************************/
@media screen and (min-width: 740px) {

    header,
    main,
    footer {
        max-width: 1280px;
    }

    section {
        position: absolute;
        width: fit-content;
        grid-template-columns: 1fr auto;
    }

    .simo section {
        position: relative;
    }


    .dataContainer {
        left: 40px;
        top: 40px;
    }

    .numberContainer {
        right: 40px;
        top: 200px;
    }

    .mobile-only {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav ul {
        justify-content: flex-start;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
    }


    .page-contact {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 4fr;
        align-items: start;
    }

    .page-contact p {
        grid-column: 1/2;
    }

    .page-contact form {
        grid-column: 2/3;
        grid-row: 1/5;
    }
}

@media screen and (min-width: 1200px) {
    section {
        font-size: larger;
    }

    nav ul {
        justify-content: flex-start;
        flex-direction: row;
    }
}