/**************************************************************/
/* Basic Stuff ************************************************/
/**************************************************************/

:root {
    --light-text: #fff;
    --hover-color: #BCCCE0;
    --navigation-color: #d5cdd5;
    --form-color: #d5cdd5;
    --finnish-blue: #002b6c;
    --finnish-white: white;
    --desktop-button: #efefef;
    --hover-button: #ddddc6;

    --borderlight: hsla(0, 0%, 33%, .3);
    --zebra: hsl(0, 0%, 93%, 1);

    --banner-color: #2d032a;
    --mobile-button: #720d64;

    --misc-brown: #7c5605;
    --header-color: #690500;
}

.geist-dannyboy {
    font-family: "Geist", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.slabo-27px-regular {
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/**************************************************************/
/* Page Construction ******************************************/
/**************************************************************/

body {
    background-color: black;
}

header,
main,
footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    max-width: 640px;
    border: 1px solid #555;
    border-radius: .1rem;
    box-shadow: 0 0 30px #333;
    margin: .2rem auto;
}

header {
    background-color: var(--finnish-blue);
    color: var(--light-text);
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: 'Slabo 27px', system-ui, serif;

    display: grid;
    position: relative;
    padding: 20px;
}

main {
    position: relative;
    background-color: var(--form-color);
    padding: 15px;
}

footer {
    font-size: 1rem;
    text-align: center;
    background-color: var(--finnish-blue);
    color: var(--light-text);
    padding: 10px;
    position: relative;
}

h2 {
    text-align: center;
    padding: 10px;
    font-size: 1.8rem;
}

section {
    display: grid;
    background-color: var(--finnish-white);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: .2rem;
    padding: .5rem;
    gap: .8rem;
    text-align: center;
    align-self: center;
    width: 100%;
    align-items: flex-start;
}

section h2,
section table {
    grid-column: 1/3;
    margin-top: 0;
}

p {
    padding: 5px;
}

.hero img {
    width: 100%;
    height: auto;
}

figcaption {
    font-style: italic;
    margin-bottom: 10px;
    max-width: 500px;
}

main a:link,
main a:visited {
    text-decoration: none;
    color: blue;
}

/**************************************************************/
/* Header/Navigation ******************************************/
/**************************************************************/



h1 {
    text-align: center;
    font-size: 2.4rem;
    padding: .4rem;
}

nav {
    background-color: var(--navigation-color);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav ul li {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.3rem;
}

nav a:hover {
    text-decoration: wavy;
    font-weight: 700;
}

#menu {
    display: none;
}

.navigation a:hover {
    background-color: var(--hover-color);
}

@media (max-width: 740px) {

    /***************************************/
    /* Hamburger Menu **********************/
    /***************************************/
    #menu {
        display: block;
        font-size: 2.1rem;
        border: 0;
        background: none;
        color: black;
        position: absolute;
        top: 1.5rem;
        left: 1rem;
    }

    #menu::before {
        content: "☰";
        color: white;
    }

    #menu.open::before {
        content: "✖";
        color: white;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;
        background-color: var(--navigation-color);
    }

    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
    }

    .open a {
        display: block;
    }

    /***************************************/
    /* General Construction ****************/
    /***************************************/
    figcaption {
        max-width: 250px;
    }

    nav ul li {
        border: none;
    }

    .fastFacts {
        position: relative;
        grid-column: 1/2;
    }


    .numberContainer {
        width: fit-content;
        height: fit-content;
        float: left;
        margin: 15px;
    }

    .simo p {
        grid-template-columns: 2/3;
        margin: 5px;
    }

    .simo figure {
        grid-row: 2/4;
        grid-column: 2/3;
    }





}

/**************************************************************/
/* For the initial data ***************************************/
/**************************************************************/
section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.value {
    text-align: left;
    grid-column: 2/3;
}

.label {
    font-weight: bold;
    text-align: right;
    grid-column: 1/2;
}

/**************************************************************/
/* For the combat data ****************************************/
/**************************************************************/
table {
    margin: 10px auto;
    border: none;
    border-collapse: collapse;
}

th,
td {
    padding: 6px 12px;
    border: 1px solid var(--borderlight);
    text-align: center;
}

thead tr:first-child {
    font-weight: bolder;
    font-size: 1.6rem;
}

tr td:first-child {
    font-weight: bolder;
    text-align: right;
}

/**************************************************************/
/* Simo Stuff *************************************************/
/**************************************************************/
.simo {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1rem;
    grid-template-rows: 100px 1fr auto;
}

.simo h1 {
    grid-column: 1/3;
}

.simo figure {
    grid-row: 2/4;
    grid-column: 2/3;
}

.simo section {
    position: relative;
    grid-row: 3/4;
    grid-column: 1/2;


}

/**************************************************************/
/* Contact Us *************************************************/
/**************************************************************/

.page-contact p {

    width: fit-content;
    margin: 1rem auto;
    padding: 1rem;


    background-color: var(--finnish-white);
}

form {
    width: 500px;
    align-self: center;
    margin: 0 auto;
}

fieldset {

    border: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.checkLabel {
    font-weight: 300;
    justify-content: start;
    display: grid;
    grid-gap: 0;
}

.checkLabel input {
    grid-column: 1/2;
    align-self: flex-start;
}

.checkLabel label {
    margin-left: .5rem;
    grid-column: 2/3;
}

legend,
label {
    font-weight: bolder;
}

legend {
    padding: 0 10px;
}

textarea {
    margin: 5px 0;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main button,
.formDiv,
input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;

}

main button {
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    background-color: var(--desktop-button);
    border-width: 1px;
    border-radius: .5rem;
}

main button:hover {
    background-color: var(--hover-button);
}

.optionalLabel {
    color: rgb(62, 62, 219);
    font-weight: 500;
    font-size: .95rem;
}