/* Larger Views ******************************/
@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav ul {
        justify-content: flex-start;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
    }
}