/* Larger Views ******************************/
@media screen and (min-width: 740px) {

    .starRating {
        display: grid;
        text-align: center;
        font-size: 1.3rem;
    }

    button {
        color: black;
        background-color: var(--desktop-button);
        border-width: 1px;
        border-radius: .5rem;
    }
}